<body>
<div class="container main-container">
    <div class="row">
        <h2 id="aboutus" align="center">About Us</h2>
        <h3 align="center"> Learn about our team and background</h3>
        <br>
        <div name="footer" class='col-md-3 well about'>
            <a href="https://www.linkedin.com/in/karina-martinez-aab2ab129/" target="_blank"><img class='thumbnail'                                                                                    title='Karina Martinez'                                                                                                  src='https://media.licdn.com/dms/image/C5603AQFEKVvb1VU27g/profile-displayphoto-shrink_800_800/0?e=1532563200&v=beta&t=Hhen44gKMTLGC0CGMgKpGAqRl04onI3kHDq3S5w4G_A'></a>
            <div class="col-md-12 "><strong>Karina Martinez</strong> is a junior web developer, passionate about solving problems.
                Highly motivated and creative, self-learning, dedicated, diligent, responsible and a team player, always learning and
                applying it in new projects.
                I came from Colombia a few months ago with background in microbiology and management.
                Specialties: JavaScript, Angular.js, Node.js, mongoDB, CSS, HTML5, React.
            </div>
        </div>
        <div name="footer" class='col-md-3 well about'>

            <a href="https://www.linkedin.com/in/marina-shemesh-98133311/" target="_blank"><img class='thumbnail'                                                                                 title='Marina Shemesh'                                                                                               src='https://avatars2.githubusercontent.com/u/19924151?s=460&v=4'></a>
            <div class="col-md-12 "><strong>Marina Shemesh </strong>is an experienced content writer who has fallen in love
                with writing code. She recently completed a coding bootcamp at Elevation Academy and is looking now for
                a position as a junior full stack developer. She created several web apps using the MEAN Stack, customed
                various API's to serve data to apps, learned about working with MongoDB and mySQL databases.
            </div>

        </div>
        <div name="footer" class='col-md-3 well about'>

            <a href="https://www.linkedin.com/in/yejiel-wahnich/" target="_blank"><img class='thumbnail'
                                                                                       title='Yejiel Wahnich'
                                                                                       src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAqlAAAAJGUyZWU1YTJiLTg0ODMtNDY1ZC1hNmI2LTE5NGQ4MTgwM2ZhYw.jpg'></a>
            <div class="col-md-12 "><strong>Yejiel Wahnich</strong> is a web developer, self taught and Elevation Academy coding bootcamp graduate.
                He came to Israel a few months ago from Mexico. There he worked at a factory as a web master (web
                development, SEO and SEM). Now he followed his passion and made a career change as a web developer.
                Eager to learn, love to create and passionate about life.
            </div>
        </div>

        <div name="footer" class='col-md-3 well about'>

            <a href="https://www.linkedin.com/in/advance512/" target="_blank"><img class='thumbnail'                                                                                          title='Alon Diamant'                                                                                                  src="https://media.licdn.com/dms/image/C4E03AQHVqh6VuLQioA/profile-displayphoto-shrink_800_800/0?e=1532563200&v=beta&t=CxzU5GELvg63NRxNTnCc46X-tD78QRDy0KOouHh8Vag"></a>
            <div class="col-md-12 "> <strong>Alon Diamant</strong> is a senior developer who enjoys hackatons.
            </div>
        </div>
    </div>
</div>
</body>

